.app__container {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-template-rows: 160px 50px repeat(auto-fill, minmax(150px, 1fr));
  grid-template-columns: 30% 67%;
  grid-gap: 20px;
  grid-template-areas:
    'header header'
    'sidebar tabs'
    'sidebar ticket';
}
@media (max-width: 730px) {
  .app__container {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    grid-template-rows: 160px 50px 252px repeat(auto-fill, minmax(150px, 1fr));
    grid-template-columns: 100%;
    grid-gap: 20px;
    grid-template-areas:
      'header'
      'tabs'
      'sidebar'
      'ticket';
  }
}
